<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

	<div class="text-center">
	  <h2>Formulario de Registro</h2>
	  <h5>Ingrese sus datos para crear un cuenta:</h5>
	  <form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-primary">Sign up</button>
	  </form>
	</div>
	<div id="footer" class="text-center">
		<h6>Javier Bonilla Mite // javb92</h6>
		<h7>Made with Django/Python and JQuery</h7>
	</div>
{% endblock %}